

#navpartlist li a {
	min-height: 27px;
	cursor: move;
	}

#navpartlist li div.edit, #navpartlist li div.delete {
	float: right;
	padding-right: 3px;
	margin-top: 4px;
	cursor: pointer;
	width: 16px;
	height: 15px;
	}
#navpartlist li div.edit {
	background: url(../images/edit/edit.gif) left top no-repeat;
	}
#navpartlist li div.delete {
	background: url(../images/edit/delete.gif) left top no-repeat;
	}

#navEditerContent {
	font-size: 10pt;
	font-family: verdana;
	padding: 2px;
	}

.navEditError {
	border: 1px solid #E54C4C;
	background-color: #F89B9B;
	padding: 4px;
	margin-bottom: 2px;
	}

.navEditMessage {
	border: 1px solid #74D174;
	background-color: #D5FFD5;
	padding: 4px;
	margin-bottom: 2px;
	}

#navEditerContent input , #navEditerContent select {
	padding: 2px;
	margin: 2px 0px 2px 0px;
	}

.groupsCheckbox {
	vertical-align: middle;
	}
.groupsLabel {
	vertical-align: middle;
	}