.buttonNewPost {
	padding:0 7px;
	width:auto;
	overflow:visible;
	font-size:120%;
	margin-right: 5px;
	}

.webpages table {
	border-spacing:1px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color: #b7b7b7;
	padding: 0px;
	margin: 0px;
}

.webpages caption {
	font-weight: bold;
	background: #5599DD;
	border-bottom:1px solid #195CA1;
	color: #FFF;
	text-transform:uppercase;
	padding:10px;
	padding-left: 18px;

}

.webpages td, .webpages th {
	padding: 2px;

}

.webpages thead th {
	font-size: 14px;
	padding-left: 18px;
	padding-right: 18px;
	text-align: left;
	background: #C0E0FF;
	color: #000;
	}

.webpages thead th img {
	vertical-align: text-bottom;
	}

.webpages thead th a:link, .webpages thead th a:visited {
	color: #195CA1;
	text-decoration: none;
	}

.webpages thead th a:hover {
	color: #195CA1;
	text-decoration: underline ;
	}

.webpages tbody th {
	font-weight: bold;
	}

.webpages tbody tr		{
	background-color:#FFF;
	text-align:left;
	}
.webpages tbody tr.odd 	{
	background: #f9f9f9;
	border-top:1px solid #FFF;
	}

.webpages tbody tr td {
	vertical-align: middle;
	height:40px;
	background: #FFF;
	}

.webpages tbody tr .left {
	text-align: left;
	}

.webpages tbody tr .right {
	text-align: right;
	/*padding-right: 18px;*/
	}

.webpages tbody tr.odd td{
	background: #f9f9f9;
	border-top:1px solid #FFF;
	}

.webpages tbody tr:hover td{
	background-color: #EEEEEE;
	}


.webpages td a:link, .webpages td a:visited {
	color: #1975D7;
	text-decoration: none;
	}

.webpages td a:hover {
	color: #50ADEA;
	text-decoration: underline ;
	}

.webpages tfoot {
	background-color:#E7E7E7;
	height: 2px;
	}


.tabPageLinks {
	font-size: 10pt;
	color: #585858;
	vertical-align: middle;
	MozUserSelect: none;
	}

.tabPageLinks a{
	color: #1975D7;
	/*margin: 0px 2px 0px 2px;*/
	/*min-width:22px;*/
	padding: 0px 2px 0px 2px;
	/*display: block;
	float: right;*/
	text-align: center;
	/*border: 1px solid black;*/
	}

.tabPageLinks a:hover{
	cursor: pointer;
	color: #5EB4DD;
	text-decoration: underline;
	/*border-bottom: 1px dashed #5EB4DD;*/
	}

a.selectedPage {
	color: #000000;
	font-weight: bold;
	font-size: 11pt;
	}

#p_current, #p_max, #unp_current, #unp_max {
	font-weight: bold;
	}

#unp_loading , #p_loading {
	 float:right;
	 padding-top:5px;
	 padding-right:5px;
	}

.noticeBox {
	margin: 0px;
	background: #F8FFF0;
	border:1px solid #A0DC11;
	padding: 4px;
	padding-left: 8px;
	padding-right: 8px;
	margin-bottom: 9px;
	width: 382px;
	}