.imageContainer {

	}

.imageContainer .photo {
	position: relative;
	padding: 0px;
	margin: 2px;
	float: left;
	}

.imageContainer .photoThumbnail {
	display: block;
	background-color: #EEE;
	min-height: 100px;
	min-width: 100px;
	border: 0px;
	}
.imageContainer .clear {
	clear: both;
	margin: 0px;
	padding: 0px;
	}

.imageContainer .imageToolbar{
	background: #F5F5F5;
	border-bottom: 1px solid #E6E6E6;
	left: 0px;
	top: 0px;
	height: 23px;
	padding: 0px;
	position: absolute;
	}
.imageContainer .imageToolbar .imageToolbarIcon{
	cursor: pointer;
	width: 19px;
	height: 18px;
	}
.imageContainer .imageToolbar .imageToolbarIcon img{
 	padding: 3px;
	}


.imageContainer .imageToolbar .imageToolbarIconHover{
	cursor: pointer;
	width: 19px;
	height: 18px;
	}
.imageContainer .imageToolbar .imageToolbarIconHover img{
 	padding: 2px;
	border: 1px solid #A0DC11;
	background: #DEFFB9;
	}


