<IfModule mod_rewrite.c>
   RewriteEngine on

   # Redirect HTTP to HTTPS (uncomment if not handled by a reverse proxy)
   # RewriteCond %{SERVER_PORT} 80
   # RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R,L]

   # Redirect empty path to site/webroot
   RewriteRule 		^$ 			site/webroot/    		[L]

   # Redirect all other paths to site/webroot
   RewriteRule 		(.*) 		site/webroot/$1 		[QSA,L]
</IfModule>
