/*=============================================
EDIT PAGE STYLES
This css file controls how the page looks while
in edit page mode. This includes the formatting
for the part library, the moveable parts,
and the area containers (the areas that parts can
be dragged and dropped between). Any of these
values can be overriden by specific themes as needed
so that the edit page view fits in with the theme.
==============================================*/
/*=======================
UL defines the styles for the draggable
parts while in edit page mod
========================*/
ul.areaContainer {
    list-style-image:none;
    list-style-type:none;
    padding: 2px;
    min-height: 100px;

	}

/*ul.area1Container {
	background: url(<?=$directory?>images/editpage/areas/1.gif) no-repeat;
	border: 2px solid #78B2DE;
	background-color: #CCE8FE;
	}

ul.area2Container {
	background: url(<?=$directory?>images/editpage/areas/2.gif) no-repeat;
	border: 2px solid #78B2DE;
	background-color: #C6E4FB;
	}
ul.area3Container {
	background: url(<?=$directory?>images/editpage/areas/3.gif) no-repeat;
	border: 2px solid #78B2DE;
	background-color: #C1E1F9;
	}
ul.area4Container {
	background: url(<?=$directory?>images/editpage/areas/4.gif) no-repeat;
	border: 2px solid #78B2DE;
	background-color: #CFEAFF;
	}
ul.area5Container {
	background: url(<?=$directory?>images/editpage/areas/5.gif) no-repeat;
	border: 2px solid #78B2DE;
	background-color: #BDDEF8;
	}*/
/*=======================
This class will be applied
to areas when the user
starts dragging anything
========================*/
ul.areaContainerHighlight {
	border: 1px dashed red;
	}


/*=======================
The header text for inherited parts
that links to the parent template
========================*/
ul.areaContainer li.inheritedParts .inheritedHeader {
	font-family: "Verdana";
	font-size:12pt;
	text-align: left;
	font-style: italic;
	font-weight: bold;
	padding-left: 2px;
	line-height: 100%;
	color: #fff;
	z-index: 10;
 	}

/*=======================
Adds the move cursor to the
handles of the parts
========================*/
li .handle {
	cursor: move;
	}

/*=======================
The following define 'border samples' that the user can click on
to select a border that they want the part to have. These
are 16x16 px squares that can have a small image background
to describe what the full border will be like.

Border0 is reserved for no border
========================*/
.borderSample {
	cursor: pointer;
	border: 1px solid black;
	width: 25px;
	height: 25px;
	}

/*=======================
Used to designate the border sample that the user
has choosen or that is currently applied to a part
========================*/
.borderSampleChoosen {
	width: 27px;
	border: 2px dashed red;
	}
/*=======================
When a sample is not choosen, it belongs to this
class
========================*/
.borderSamplePadding {
	width: 18px;
	padding: 2px;
	}


/*=======================
Divs that contain the part library
========================*/
#PartLibrary {
	position: absolute;
	right: 0px;
	top: 0px;
	z-index: 100;
	padding:0px;
	margin:0px;
	color:black;
    font-size: 10pt;
	font-family: "Verdana";
	border-left: 3px solid #B4B4B4;
	border-bottom: 3px solid #B4B4B4;
	background-color: #F3F3F3;
	width: 250px;
	}

#PartLibraryHeader {
	color: white;
	padding-left:28px;
	background: url(<?=$directory?>images/editpage/libraryHeader.gif);
	background-color: #DCDDE0;
	border-bottom:3px solid #B4B4B4;
	height: 25px;
	font-weight: bold;
	}

#PartLibraryHeaderClose {
	float:right;
	padding-top:7px;
	padding-right:5px;
	cursor:pointer
}

/*=======================
The part library list and items
========================*/
#PartLibraryList {
	list-style-type:none;
	margin:0px;
	padding:0px;
	}

.partLibraryItem {
	font:13px Verdana;
	margin:0px;
	margin-bottom: 1px;
	cursor:move;
	z-index: 11;
	padding:0px;
	}

.partLibraryItem a {
	display: block;
	padding: 8px;
	border-top: #CC4444;
	text-decoration : none;
	color : #333333;
	}

.partLibraryItem a:visited {
	color : #333333;
	}

.partLibraryItem a .name {
	padding-left: 28px;
	}

.partLibraryItem a:hover {
	background-color: #E5E5E5;
	color: #56ABE0;
	text-decoration: none;
	}

.partLibraryItem a:hover .name {
	background: url(<?=$directory?>images/editpage/arrow.gif) no-repeat left;
	background-position: 6px;

	}

/*=======================
The detail mouseover of library parts
========================*/
.partLibraryItemDetailsBorder {
	color:black;
    font-size: 10pt;
	font-family: "Verdana";
	border: 3px solid #DCDDE0;
	border-right: 9px solid #DCDDE0;
	background-color: #EEEEEE;
	position:absolute;
	top:0px;
	right:255px;
	z-index:101;
	}

.partLibraryItemDetails {
	padding: 4px;
	background-color: #F3F3F3;
	width: 300px;
	border: 1px solid #BBBBBB;
	}

.partLibraryItemDetails .partScreen{
	text-align: center;
	}

/*=======================
EditPage classes contain css for a single part
that is moved around in the edit page mode. This
includes code to format the header and the
options for the part.
========================*/
.EditPageBorder {
	border: 3px solid #ECECEC;
	margin-bottom: 4px;
	}

.EditPageBorderButtons {
	position:absolute;
	float:right;
	font-size:11px;
	top:3px;
	right:3px;
	background-color:#4091DB;
	font-family: verdana;
	padding-left: 5px;
	padding-right: 5px;
	line-height: 2;
	}

.EditPageBorderContent {
	padding:2px;
	padding-top:5px;
	overflow: hidden;
	}

.EditPageBorder .handle {
	cursor: move;
	}

.EditPageBorderIcon {
	padding-right:2px;
	padding-left: 5px;
	vertical-align: middle;
	}

.EditPageBorderInner {
 	border:1px solid #3778CE;
	position:relative;  /*afsdfasdf*/
	overflow: hidden;
	}
.EditPageBorderHeader {
	border-top:1px solid #5E9CD5;
	border-left: 1px solid #5E9CD5;
	border-right: 1px solid #5E9CD5;
	color: white;
	}
.EditPageBorderTitle {
	width:100%;
	background-color:#4091DB;
	font-weight:bold;
	height: 30px;
	font-size: 10pt;
	font-family: verdana;
	}

/* The following are applied to edit page parts
   that are from inherited pages */
.EditPageBorderInnerTemplate {
 	border:1px solid #E15757;
	position:relative;
	overflow: hidden;
	}
.EditPageBorderHeaderTemplate {
	border-top:1px solid #E58585;
	border-left: 1px solid #E58585;
	border-right: 1px solid #E58585;
	color: white;
	}
.EditPageBorderTitleTemplate {
	width:100%;
	background-color:#C64B4B;
	font-weight:bold;
	height: 30px;
	font-size: 10pt;
	font-family: verdana;
	}
.EditPageBorderButtonsTemplate {
	position:absolute;
	float:right;
	font-size:11px;
	top:3px;
	right:3px;
	background-color:#C64B4B;
	font-family: verdana;
	padding-left: 5px;
	padding-right: 5px;
	}

.EditPageBorderTitleTemplate span, .EditPageBorderTitle span {
	padding-left: 2px;
	vertical-align:middle;
	}

.EditPageOptions {
	padding: 2px;
	background-color: #EEEEEE;
	border-bottom: 1px solid #DDDDDD;
	font-family: "Verdana";
	font-size:10pt;
	color: black;
	}

.EditPageBorderHeader a, .EditPageBorderHeaderTemplate a {
	text-decoration : none;
	color : #fff;
	}
.EditPageBorderHeader a:visited , .EditPageBorderHeaderTemplate a:visited {
	text-decoration : none;
	color : #fff;
	}
.EditPageBorderHeader a:active , .EditPageBorderHeaderTemplate a:active {
	text-decoration : none;
	color : #fff;
	}
.EditPageBorderHeader a:hover , .EditPageBorderHeaderTemplate a:hover {
	text-decoration :underline;
	color : #fff;
	}