
.layoutName {
	color: white;
	background: #000;
	left: 3px;
	right: 3px;
	bottom: 20px;
	position: absolute;
	padding-left: 5px;
	padding-right: 5px;
	}
.layoutName span {
	vertical-align: middle;
	}

.layoutImage {
	float:left;
	margin-right:5px;
	cursor:pointer;
	position:relative;
	}

.layoutImage .previewImage{
	padding: 3px;
	}

.layoutImageSelected {
	float:left;
	margin-right:5px;
	cursor:pointer;
	position:relative;
	}

.layoutImageSelected .previewImage {
	border: 3px solid #F31515;
	}

input, select, checkbox {
	padding: 2px;
	font-size: 130%;
	}

.settingsTable .left {
	font-size: 130%;
	font-weight: bold;
	color: #6E6E6E;
	vertical-align: middle;
	}

.textLabel {
	font-size: 130%;
	font-weight: bold;
	color: #6E6E6E;
	}