name: Deploy
on: push
jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: FTP-Deploy-Action
      uses: SamKirkland/FTP-Deploy-Action@2.0.0
      env:
        FTP_SERVER: ftp.webdkp.com
        FTP_USERNAME: ${{ secrets.FTP_USERNAME }}
        FTP_PASSWORD: ${{ secrets.FTP_PASSWORD }}
        LOCAL_DIR: www
        ARGS: >-
          --dry-run
          --verbose
          --exclude-glob=.git**
          --exclude=.htaccess
          --exclude=config/config.php
          --exclude=.ftpquota
          --exclude=error_log
          --exclude=robots.txt
          --exclude=.well-known
          --exclude-glob=.well-known/**
          --exclude=cgi-bin
